@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

/*-- HERO IMAGE --*/

/*-- code for full width hero image taken from ww3 schools--*/

.hero-image-container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .hero-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/hero-image-ipadMobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
}

.btn-cta {
  display: block;
  font-weight: bold;
  width: 110px;
  border-radius: 20px;
  background-color: #46b123ed;
  border-color: #46b123ed;
}

.btn-cta a {
  text-decoration: none;
  color: white;
}
.btn-cta a:hover {
  color: black;
}

.hero-cta {
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-cta img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  background-color: white;
}

/*-- HEADER --*/

header {
  position: sticky;
  z-index: 1;
  background-color: white;
  top: 0;
}

/*-- FOOTER --*/

footer {
  min-height: 120px;
  background-color: #36454f;
  color: antiquewhite;
  padding: 20px 1rem;
  margin: 0;
}

@media screen and (min-width: 1672px) {
  .contact4k-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 2294px) {
  .services4k-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

footer h3,
a {
  margin-bottom: 1rem;
}

.social-media-links {
  text-align: right;
}

.social-media-links a,
.my-details a {
  display: block;
  text-decoration: none;
  color: antiquewhite;
}

.social-media-links a,
.my-details a,
.footer-links a {
 transition: all 0.3s ease-in-out;
}

.social-media-links a:hover,
.my-details a:hover,
.footer-links a:hover {
  color: #a1720bbb;
}

.footer-links {
  text-align: left;
}
.footer-links a {
  text-decoration: none;
  color: antiquewhite;
}

.my-details {
  text-align: center;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
}

footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid antiquewhite;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer-links,
  .my-details,
  .social-media-links {
    text-align: left;
  }
}

/*-- NAVBAR --*/

.navbar {
  margin-bottom: 0;
  border: 0;
}
.navbar-container {
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar .navbar-brand {
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

.navbar .navbar-nav a {
  font-weight: bold;
}

.footer-links a {
  text-decoration: none;
  color: antiquewhite;
}
.nav-link {
  padding: 0;
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
    letter-spacing: 0px;
  }
}

/*-- INDEX.HTML SECTIONS --*/

.section-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

.our-service-col h2 ~ p {
  margin-bottom: 50px;
  text-align: center;
}

.our-service-col p {
  padding: 0 2rem;
}

.approach i {
  font-size: 1.5em;
}

.container-wrapper-charoal {
  background-color: #36454f;
  color: antiquewhite;
}

.testimonials-container h2 {
  margin-bottom: 40px;
}

.testimonials-container p {
  font-size: large;
}

.col-border {
  border-right: 1px solid #eee;
}

@media screen and (max-width: 576px) {
  .col-border {
    display: none;
  }
}

/*-- GENERAL STYLING --*/

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.section-header {
  margin-bottom: 10px;
  border-bottom: 0;
  text-align: center;
}

.section-sub {
  text-align: center;
}

/*-- ABOUT.HTML --*/

.about-main-content h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

.about-main-content {
  padding: 20px 10px;
}

.image-stacked img {
  width: 111%;
}

.education-section {
  padding: 1rem;
  background-color: rgba(135, 215, 219, 0.18);
}
.sports-section {
  padding: 1rem;
  background-color: rgba(236, 40, 37, 0.7);
  color: white;
}

.goals-section {
  background-color: rgba(184, 157, 25, 0.68);
  padding: 1rem;
}

.about-main-image img {
  width: 100%;
  height: auto;
}

.gaa-image img {
  height: fit-content;
  width: 103%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .education-section,
  .sports-section,
  .goals-section {
    padding: 0;
    padding-left: 1rem;
    font-size: 0.95rem;
  }
  .image-stacked img {
    width: 124%;
  }
  .gaa-image img {
    height: fit-content;
    width: 107%;
  }
}

@media screen and (max-width: 768px) {
  .about-main-image,
  education-section {
    padding: 20px 0;
  }

  .about-main-image {
    margin-bottom: 20px;
  }
}

/*-- RECIPES.HTML --*/

.recipe-main-image img {
  width: 100%;
  padding: 20px 10px;
  height: fit-content;
}

.recipes li {
  padding-left: 0;
}

.recipe-main-content {
  padding: 20px 10px;
}

.lunch-container img {
  border: 2px solid antiquewhite;
}

.lunch-container,
.dinner-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.breakfast-container {
  padding-bottom: 35px;
  padding-top: 15px;
}

.lunch-container,
.dinner-container,
.breakfast-container {
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 767px) {
  .lunch-container,
  .dinner-container,
  .breakfast-container {
    padding-right: 97px;
    padding-left: 0.5rem;
  }
}

/*-- SERVICES.HTML --*/

.services-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.services-image {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .services-image {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}

/*------ followed css tutorial https://www.youtube.com/watch?v=sWvRIYJZJ-c to create timeline */

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  border-left: 1px solid #eee;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-services);
  position: absolute;
  left: 2em;
  top: 2.5em;
  display: block;
  font-weight: 500;
  font-size: 0.8em;
}

.timeline-item:after {
  width: 60px;
  height: 60px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -30px;
  border-radius: 50%;
  content: "";
  background: #eee;
}

.timeline {
  width: 100%;
  height: auto;
}

.timeline li {
  position: relative;
  list-style: none;
}

.timeline li .item {
  position: relative;
  min-height: 60px;
  padding: 0 20px 20px 30px;
  margin-left: 20px;
  border-left: 1px solid black;
}

.timeline li:last-child .item {
  border-left: 1px solid transparent;
}

.timeline li .item i {
  position: absolute;
  top: -8px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: black;
  color: white;
  font-weight: 700;
  border-radius: 50%;
}

.timeline li:hover .item i {
  background: #f05540ed;
}

.timeline li .item h3,
.timeline li .item p {
  margin: 5px;
  padding: 0;
}

#clipboard {
  color: rgb(245, 245, 245);
}

#heart {
  color: #46b123ed;
}

#football {
  color: rgb(47, 196, 255);
}

#group {
  color: rgb(255, 172, 47);
}

/*-- CONTACT.HTML --*/

.contact-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

/*-- BUTTONS --*/

.btn-signup {
  font-weight: bold;
  width: 120px;
  border-radius: 18px;
  background-color: #46b123ed;
  border-color: #46b123ed;
  color: white;
}

.btn-contact {
  font-weight: bold;
  width: 120px;
  border-radius: 18px;
  background-color: #f05540ed;
  border-color: #f05540ed;
  color: white;
}

.btn-contact a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-contact a:hover {
  color: black;
}

.btn-send {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #36454f;
  color: antiquewhite;
}

/*-- CSS Hack For Microsoft Edge --*/

@supports (-ms-ime-align: auto) {
  .social-media-links a:hover,
  .my-details a:hover,
  .footer-links a:hover {
    color: #bd8c21;
  }
  .btn-contact {
    border-color: #f05540;
    background-color: #f05540;
  }
  .btn-cta {
    background-color: #46b123;
    border-color: #46b123;
  }
  .timeline li:hover .item i {
    background: #f05540;
  }
  #heart {
    color: #46b123;
  }
  .btn-signup {
    background-color: #46b123;
    border-color: #46b123;
  }
}

/*-- CSS Hack For Internet Explorer --*/

_:-ms-lang(x),
.btn-contact {
  background-color: #f05540;
  border-color: #f05540;
}

_:-ms-lang(x),
.social-media-links a:hover,
.my-details a:hover,
.footer-links a:hover {
  color: #bd8c21;
}
_:-ms-lang(x),
.btn-cta {
  background-color: #46b123;
  border-color: #46b123;
}
_:-ms-lang(x),
.timeline li:hover .item i {
  background: #f05540;
}
_:-ms-lang(x),
#heart {
  color: #46b123;
}
_:-ms-lang(x),
.btn-signup {
  background-color: #46b123;
  border-color: #46b123;
}
