@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
}

/*-------------------------------------------------Hero Image*/
.hero-image-container {
height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url(../images/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
 
}

@media screen and (max-width: 768px) {
    .hero-image-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url(../images/hero-image-ipad.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
    }
}

@media screen and (max-width: 480px) {
    .hero-image-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url(../images/hero-image-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
    }
}


.cta-button {
    display: block;
}

.hero-cta
{
text-align: center;
position: absolute;
color: white;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) 

} 

.hero-cta img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    background-color: white;
}


/*-------------------------------------------------header*/

header {
    position: relative;
}

/*-------------------------------------------------footer*/

footer {
    min-height: 120px;
    background-color: #f5f2f0;
}

.social-media-links a {
    margin-bottom: 14px;
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 14px;
}


/*-------------------------------------------------navbar*/
.navbar  {
    margin-bottom: 0;
    border: 0;  
}
.navbar-container 
{
    top: 0;
    left:0;
    padding-left:0;
    padding-right: 0;
}

.navbar .navbar-brand {
    font-family: oswald;
    letter-spacing: 3px;

}

.navbar .navbar-nav a {
    font-weight: bold;
}

@media screen and (max-width: 480px) {
  .navbar .navbar-brand {
  letter-spacing: 0px;
  }
}

/*------------------------------------------------- Containers*/
/*-------------------------------------------------code for hero image taken from ww3 schools*/

.
.approach-container {

}

.testimonials-container {

}

/*------------------------------------------------- General padding/margins etc*/

.uppercase {
    text-transform: uppercase;
}

.section-heading, .section-sub {
margin-top: 25px;
margin-bottom: 40px;
text-transform: uppercase;
text-align: center;
}


/*----------------------------------------------- testimonials */
/* code copied from css-tricks.com */


.col-border {
  border-right: 1px solid #eee;
}




/*------------------------------------------------- Recipes.html Page etc*/

.recipe-main-image img {
    width:100%;

}

.recipes li{
    padding-left: 0;
}

.recipe-icon {
    position: absolute;
    right: 30%;
} 


.about-main-image img {
width:100%;
height: auto;
}

.image-stacked img {
    width: 100%
}
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid #eee;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-services);
    position: absolute;
    left: 2em;
    top: 2.5em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
}

.timeline-item:after {
    width: 60px;
    height: 60px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -30px;
    border-radius: 50%;
    content: '';
    background: #eee;
}

.services-image {
    width:100%;
}

.services-container {
    margin-bottom: 100px;
}

.services {; 
}

.timeline {
    width:90%;
    height: auto;
    margin: 50px auto 0;
padding: 20px;
}

.timeline li {
    position: relative;
    list-style: none;
}

.timeline li .item
{
position: relative;
min-height: 60px;
padding: 0 20px 20px 30px;
margin-left: 20px;
border-left: 1px solid black;
}

.timeline li:last-child .item 
{
    border-left: 1px solid transparent;
}

.timeline li .item i 
{
    position: absolute;
    top: -8px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: black;
    color: white;
    font-weight: 700;
    border-radius: 50%;
}
.timeline li:hover .item i 
{
    background: rgb(47, 255, 64);
} 

.timeline li .item h3,
.timeline li .item p {
    margin: 5px;
    padding: 0;
}
